<div ng-controller="bitcoinController as bitcoinControllerObj">
    <div class="alert alert-info fontHead">
        {{bitcoinControllerObj.title}}
    </div>
    <div>
        <div class="stockCryptoBox">
            <div class="alert alert-info paddingLeft10">
                <strong>{{bitcoinControllerObj.data.currencyName}}</strong>
            </div>
            <div class="paddingLeft10">
                <strong>
                    <h2 class="currency">{{bitcoinControllerObj.data.currentPrice  | currency}}</h2>
                </strong>
            </div>            
        </div>
    </div>
</div>