<!-- Bitcoin Div -->
<div ng-controller="bitcoinController as bitcoinControllerObj" >
    <div class="alert alert-danger">
        {{bitcoinControllerObj.title}}
    </div>
    <div style="margin-left:50px">
        <!-- box -->
        <div class="CrytpStockBox">
            <!--Header-->
            <div class="stockHead posRelative">
                <span class="spanHead posRelative">
                    <strong>{{bitcoinControllerObj.data.currencyName}}</strong>
                </span>
            </div>
            <!--price-->
            <div class="divPriceBox floatLeft">
                <div class="divCurrentPrice">
                    <span class="spanCurrentPrice posRelative">
                        <strong>{{bitcoinControllerObj.data.currentPrice | currency}}</strong>
                    </span>                    
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Bitcoin Div -->